.heading{
    overflow: hidden;
}

.article_date{
    float:left;
    margin-left: 0.5em;
}

.article_type{
    float:right;
    margin-right: 0.5em;
}

.article-image img{
    width: 70%;
    height: 70%;
    margin-left: 15%
}

.article_section img{
    width: 50%;
    height: 50%;
}

.article-header{
    font-size: 2.5em;
    margin-left: 0.5em;
}

@media screen and (max-width: 600px) {
    .article-header  {
        font-size: 1em;
    }
}

