.journalist-controller{
    display: flex;
    margin: 2.5%;
    flex-wrap: wrap;
}

.journalist{
    padding: 5%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border: 1px solid #1E1D1D;
    /*flex-grow: 1;*/
    flex: 1 0 40%;
    margin: 5%;
    border-radius: 25px;
}

.journalist-view{
    background-color: #666;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}