<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>SGNN</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/articles.css"/>
    <link rel="stylesheet" href="/layout.css"/>
    <link rel="stylesheet" href="/rating.css"/>
</head>
<body>


<main>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/journalists">Journalists</a>
        <a href="/articles">Articles</a>
        <a href="/categories">Categories</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Go</button>
            </form>
        </div>
    </div>





<div class="container">
    #parse( $template )


</div>
</body>
</html>