<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>SGNN</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/articles.css"/>
    <link rel="stylesheet" href="/layout.css"/>
</head>
<body>


<main>
    <div class="header">
        <header class ="site-header">
            <!--<nav class="site-nav">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a href="/">Home</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/journalists">Journalists</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/articles">Articles</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/categories">Categories</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</nav>-->

            <div id="logo">
                <img src="" class = "logo" alt="News Logo"/>
            </div>
        </header>
    </div>

    <div style="overflow:auto">
        <div class="menu">
            <a href="/">Home</a>
            <a href="/journalists">Journalists</a>
            <a href="/articles">Articles</a>
            <a href="/categories">Categories</a>
        </div>



<div class="container">
    #parse( $template )


</div>




<div class ="footer">
    <footer>
        <p>CodeClan Java Project</p>
    </footer>
</div>
</body>
</html>