<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

    <title>SGNN</title>

    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/articles.css"/>
    <link rel="stylesheet" href="/layout.css"/>
    <link rel="stylesheet" href="/rating.css"/>
</head>
<body>

<main>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/journalists">Journalists</a>
        <a href="/articles">Articles</a>
        <!--<a href="/categories">Categories</a>-->
        <div class="search-container">

            <!--Need to figure out where the search bar will take you too. -->
            <form action="/search" method="post">
                <input type="text" placeholder="Search articles.." name="search" id="search" required="true">
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>


<div class="container">
    #parse( $template )

</div>
</body>
</html>