<div class="article-header">
    <h1>$article.getTitle()</h1>
</div>

<div class="article-body">
    <p>$article.getFullArticle()</p>
    <img src="$article.getImagePath()">$article.getImagePath()</img>

</div>
<div class="right">
    <div class ="buttons">
        <a href="/articles/$article.getId()/edit">Edit</a>

        <form action="/articles/$article.getId()/delete" method="post">
            <input type="submit" value="Delete">
        </form></div>

</div>